<div class = "container">
  <h2 class="m-3" >Admissions, Tuition & Financial Aid</h2>
  <hr />
</div>

<div class = "container">
  <h3>What will you find at WLA?</h3>

  <p>
  A strong and well-rounded high school education in the Lutheran Tradition — solidly based on a firm trust in Jesus Christ, our only Savior from sin.

  Graduating seniors who are well prepared to pursue college or technical school education beyond high school. WLA graduates who want to enter called service as pastors or teachers are well prepared for admission to the WELS School of Ministry at Martin Luther College.

  Individual guidance to help your student select and prepare for a college or a career.

  Students whose ACT scores average 22.7 to 23.9 — higher than the state average of 20 to 22. (Wisconsin is among the highest-scoring states in the nation on the ACT.)

  A wide range of extra-curricular activities, including sports, music, drama, forensics, student organizations, and student events.

  The Teen years are filled with challenges to a young person’s values and faith. At WLA, trust in Christ is at the heart of every class and every activity. Students learn to examine and face life’s problems in the light of the Law and Gospel.

  Here, students are nurtured spiritually and intellectually. Here, Christian faith is practiced and celebrated in the classroom, on the athletic field, and in all activities.
  </p>
  <hr />
</div>


<div class="container">
  <h3>What will you take with you when you leave WLA?</h3>
  <div class="d-flex">
    <p>
    A strong academic education, preparation for good citizenship, and the ability to apply the lessons of God’s Word to everyday challenges and decisions.

    Students at WLA are not immune from the ordinary temptations of being a teenager. They don’t always make the right decisions or the best decisions.

    But WLA students have a crucial advantage. They are learning life’s lessons in a caring, forgiving Christian atmosphere. They are learning to apply the lessons of the Gospel to day-to-day issues and decisions.

    During these difficult, formative years, students at WLA are surrounded by peers and teachers who share a strong and active faith in Christ Jesus. Each and every lesson and each and every accomplishment is recognized as a gift from God.

    Students grow in Christian understanding and in the ability to be witnesses of the Lord Jesus Christ.

    “Value-based education” is a buzzword in schools today. As a parent, you must ask yourself:

    “Whose values will my children learn in school?”

    For Christian parents, Christ-centered high school education makes more sense than ever.
    </p>
    <%= image_tag 'wla_front.jpg', :size => '315x315', :class => 'ms-4' %>
  </div>
  <hr />
</div>


<div class="container">
  <h3>WLA Schools</h3>
  <div class="d-flex">
    <p>
    WLA Schools was developed to emphasize the relationship between our Lutheran Elementary Schools and Winnebago Lutheran Academy. The essential tie between these schools is the Christ-centered education that is offered at all of our Christian Sunday Schools, pre-schools, child care centers, elementary schools, and our high school.

    This pre-K-12 relationship allows our association to provide a solid educational system for all our youth.  This educational association has fourteen Lutheran Elementary schools–as well as some early childhood education centers–spread out over a 50 mile radius from Fond du Lac and WLA.  This area extends from St. Matthew’s, Iron Ridge to the south; St. John’s, Montello to the west; Martin Luther, Oshkosh to the north, and St. Paul’s Town of Forest to the east.  We also have had many students from Europe, Asia, Central and South America.

    The goal of WLA Schools is to build a cooperative association of teachers, administrations, students, families, and local communities. This connection with our families and their communities will provide a stronger avenue for sharing and offering a Christ-centered education.

    WLA Schools exists to not only bring awareness of Christian secondary education but also grade school and pre-school education and child care to Fond du Lac and the local communities in which these schools are located.

    We encourage and invite you to learn more about the WLA Schools and what they have to offer.
    </p>
    <%= image_tag 'graduation.jpg', :size => '315x315', :class => 'ms-4' %>
  </div>
  <hr />
</div>

<ul class="list-group list-group-horizontal justify-content-center">
  <li class="list-group-item">Winnebago Lutheran Academy</li>
  <li class="list-group-item">Grace – Oshkosh</li>
  <li class="list-group-item">Faith – Fond du Lac</li>
  <li class="list-group-item">Martin Luther – Oshkosh</li>
  <li class="list-group-item">Peace – Green Lake</li>
  <li class="list-group-item">Redeemer – Fond du Lac</li>
</ul>
<ul class="list-group list-group-horizontal justify-content-center">
  <li class="list-group-item">St. John’s – Fox Lake</li>
  <li class="list-group-item">St. Luke’s – Oakfield</li>
  <li class="list-group-item">St. Paul’s – North Fond du Lac</li>
  <li class="list-group-item">St. John’s – Lomira</li>
  <li class="list-group-item">St. Matthew’s – Iron Ridge</li>
  <li class="list-group-item">St. John’s – Montello</li>
</ul>
<ul class="list-group list-group-horizontal justify-content-center">
  <li class="list-group-item">St. Peter’s – Fond du Lac</li>
  <li class="list-group-item">St. Paul’s – Mt. Calvary</li>
  <li class="list-group-item">Waucousta Lutheran – Campbellsport</li>
</ul>

